.Image__logo {
  width: 50px;
  height: 50px;
}

.Nav__header {
  text-align: center;
  margin-bottom: 50px;
}

.Header {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 10;
}

.Icon__link {
  font-size: 1.25rem;
}

nav {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding-top: 50px;
  padding-bottom: 35px;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-main);
}

.Link,
.Btn__logout,
.Btn__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 0.5rem;
  border: 2px solid var(--color-accent-secondary);
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  color: var(--color-secondary-light-opacity);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Link:hover:not(.Active) {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.Link__name {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: var(--color-secondary-light-opacity);
  font-size: 0.75rem;
}

.Link__active {
  color: var(--color-accent);
  font-weight: 700;
}

.Btn__logout {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  transition: all 0.2s;
}

.Btn__profile {
  transition: all 0.2s;
  border: none;
}

.Img__profile {
  width: 52px;
  height: 52px;
  border-radius: 0.5rem;
}

.Active,
.Btn__logout:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-main);
}

.Link:hover + .Link__name {
  color: var(--color-accent);
}

.Container__confirm {
  position: absolute;
  width: 350px;
  height: fit-content;
  background: white;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Button__confirm {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid;
  width: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.Button__confirm:hover { 
  background: var(--color-accent-secondary);
  border-color: var(--color-accent-secondary);
}

.Container__confirm_buttons {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.Logout  {
  border-color: red;
  color: red;
  font-weight: bold;
}

.Logout:hover {
  background: red;
  color: white;
}

.Container__confirm_popup_bg {
  z-index: 6;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}