.Section__learning {
  display: flex;
  font-family: var(--font-main);
}

.Container__learning {
  font-family: var(--font-main);
  position: relative;
  width: 1170px;
  left: 75px;
  margin: 0 auto 3rem auto;
}

.Header__learning {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.background-2 {
  position: fixed;
  min-width: 100vw;
  height: 100vh;
  background-image: url(/src/app/components/images/background-3.svg);
  background-size: cover;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  z-index: -5;
}

.Header__learning h1 {
  font-weight: bold;
}

.Header__learning h4 {
  color: var(--color-secondary-light);
}

.Container__box {
  border: 2px solid white;
  border-radius: 0.25rem;
}

.Container__heading {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background: #347dfd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.Container__heading p {
  padding: 1rem;
  cursor: pointer;
}

.Container__box {
  position: relative;
}

.background-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 3;
}

.Z__invisible {
  z-index: -5;
}

.Active__popup {
  opacity: 0.2;
}

.Container__checkbox_learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-accent-secondary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Container__checkbox_learning h4 {
  color: var(--color-secondary-dark);
}

.Container__learning_list {
  position: relative;
  border-radius: 0.5rem;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Container__learning_header {
  height: 50px;
  padding: 1rem;
  font-weight: bold;
  background: var(--color-secondary-light);
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: center;
  color: var(--color-main);

  border-bottom: 3px solid white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.Container__popup_details {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 1.25rem;
}

.Container__popup_details p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-secondary-light);
}

.Container__popup_info {
  display: flex;
  justify-content: space-between;
}

.Map__popup {
  border: 2px solid var(--color-accent-secondary);
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  height: 250px;
}

.Container__popup_details h4 {
  margin-bottom: 1rem;
}

.Btn__popup {
  border: 1px solid var(--color-accent);
  padding: 1rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem !important;
}

#Learning__name {
  width: 25%;
  text-align: center;
}

#Learning__place {
  width: 25%;
  text-align: center;
}

#Learning__start {
  width: 20%;
  text-align: center;
}

#Learning__end {
  width: 20%;
  text-align: center;
}

.Attendee__last {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: var(--color-accent-secondary) 2px solid;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  width: 26.7%;
  cursor: pointer;
  transition: all 0.3s;
}

.Attendee__last:hover {
  border-color: var(--color-accent);
}

.Icon__navigation {
  cursor: pointer;
}

.avatar__popup img {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
}

.Container__popup_attendees {
  margin-top: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  transition: all 0.3s;
}

.Container__popup_attendees_single {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-accent-secondary);
  color: var(--color-secondary-dark);
  padding: 0.5rem 1rem;
  width: 27.2%;
  border-radius: 0.5rem;
}

.Container__sort_learning {
  display: flex;
  gap: 1rem;
}

.Container__learning_navigation {
  display: flex;
  color: var(--color-secondary-dark);
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.5rem;
}

.Container__learning_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.dropbtn {
  background-color: transparent;
  padding: 1rem;
  color: var(--color-secondary-dark);
  border: none;
  border-bottom: 1px solid var(--color-secondary-dark);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
}

.dropdown {
  display: flex;
  align-items: center;
  color: var(--color-secondary-dark);
}

.Container__learning_popup {
  font-family: var(--font-main);
  z-index: 10;
  position: fixed;
  height: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  background: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  color: var(--color-secondary-dark);
}

.Container__learning_popup_all_atendees {
  position: absolute;
  opacity: 1;
  height: 0px;
  overflow-y: auto;
  transform: scale(0);
  height: 650px;
  width: 200px;
  left: 80%;
  top: 49.9%;
  transform: translate(-40%, -50%);
  background: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5em;
  color: var(--color-secondary-dark);
  transition: all 0.3s;
  opacity: 0;
  z-index: -15;
}

.Attendees__all_active {
  height: 650px;
  opacity: 1;
  left: 115%;
}

.Container__learning_popup_all_atendees_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Container__popup_attendees_single_all {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  background: var(--color-accent-secondary);
  color: var(--color-secondary-dark);
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

.Container__popup_attendees_single_all h4 {
  width: 70%;
  word-break: break-all;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.Container__learning_popup h2 {
  font-weight: bold;
}

.Container__learning_popup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Icon__popup {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.Container__learning_popup_bg {
  z-index: 6;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.Inactive {
  display: none !important;
}
