h4 {
  font-size: 1.25rem;
}

h1 {
  margin-bottom: 1rem;
}

.Heading__food {
  margin: 1rem 0;
}

.Section__lunch {
  max-width: 1300px;
  margin: 2rem auto 0 auto;
}

.Container__content {
  display: flex;
  gap: 2rem;
}

.Container__order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
}

.Icon__sort {
  margin-right: 1rem;
}

.Meal__chosen {
  padding: 0.5rem 1rem;
  background: #347dfd;
  color: white;
  border-radius: 0.25rem;
  margin-right: 1.5rem;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}

.Container__current_order,
.Container__sort {
  display: flex;
  align-items: center;
}

.Hidden {
  display: none;
}

.Container__weekdays {
  min-width: 200px;
}

.Button__sort {
  border: solid 2px white;
  margin-right: 1rem;
  background: transparent;
}

.Button__order {
  background: #478bff5f;
  border: solid 2px white;
  transition: 0.3s all;
}

.Button__order:hover {
  background: #347dfd;
}

.Container__lunch_intro {
  flex: 3 1;
}

/*  */

.Container__meals {
  border-left: 1px solid white;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.Container__soup,
.Container__main {
  display: flex;
  flex-wrap: wrap;
}
