.Container__single_meal {
  cursor: pointer;
  width: 46.5%;
  height: 170px;
  font-family: var(--font-main);
  display: flex;
  background: white;
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  transition: all 0.3s;
  gap: 1.5rem;
  color: var(--color-secondary-dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Container__single_meal_dashboard {
  cursor: pointer;
  width: 50%;
  height: 170px;
  font-family: var(--font-main);
  display: flex;
  background: var(--color-accent-secondary);
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.3s;
  gap: 1.5rem;
  color: var(--color-secondary-dark);
  font-weight: bold;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.Tag__invisible {
  visibility: hidden;
}

.Container__single_meal_dashboard:hover {
  border-color: var(--color-secondary-light);
}

.Container__single_meal:hover {
  transform: scale(1.02);
}

.Container__single_meal:hover:not(.Chosen) {
  box-shadow: rgba(50, 50, 93, 0.25) 2px 4px 7px 4px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Container__meal_header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.Container__meal_header p {
  color: var(--color-secondary-light);
}

.Container__tags {
  display: flex;
  gap: 0.5rem;
}

.Container__tags_dashboard {
  position: absolute;
  top: 60px;
  left: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.Tag {
  box-sizing: border-box;
  padding: 0.25rem 1rem;
  display: inline;
  border-radius: 0.5rem;
  background: var(--color-accent);
  color: var(--color-main);
}

.Spicy {
  /* border: 1px solid rgba(190, 27, 27, 0.849); */
  border: 1px solid rgba(190, 27, 27, 0.849);
  background: transparent;
  color: white;
  color: rgba(190, 27, 27, 0.849);
}

.Vegan {
  border: 1px solid rgba(61, 156, 61, 0.849);
  background: transparent;
  color: rgba(61, 156, 61, 0.849);
}

.Spicy__dashboard {
  background: rgba(190, 27, 27, 0.849);
  color: white;
  box-shadow: rgba(0, 0, 0, 1) 10px 15px 20px, rgba(0, 0, 0, 1) 5px 5px 15px;
}

.Vegan__dashboard {
  background: rgba(61, 156, 61, 0.849);
  color: white;
  box-shadow: rgba(0, 0, 0, 1) 10px 15px 20px, rgba(0, 0, 0, 1) 5px 5px 15px;
}

.Container__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Chosen .Spicy {
  background: var(--color-spicy-shadow);
}

.Chosen .Vegan {
  background: var(--color-vegan-shadow);
}

.Chosen {
  transform: scale(1.02);
  background: var(--color-accent-secondary);
}

.Image__price {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.Container__price {
  font-size: 1.25rem;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
}

.Container__count {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.Container__meal_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
}

.Image__meal {
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.Container__meal_image {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.Container__meal_image_dashboard {
  position: relative;
  overflow: hidden;
  height: 140px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.Container__popular {
  opacity: 0;
  z-index: 5;
  position: absolute;
  top: 15px;
  left: 10px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 1) 10px 15px 20px, rgba(0, 0, 0, 1) 5px 5px 15px;
}

.Visible {
  opacity: 1;
}
