.Image__logo {
  width: 48px;
  height: 48px;
}

.Header {
  padding: 0.75rem 0;
  width: 100vw;
  background-color: #222338;
  border-bottom: #347dfd solid 2px;
}

.Icon__link {
  margin-right: 16px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  max-width: 1300px;
  color: rgb(236, 235, 235);
  margin: 0 auto;
}

.Link {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  color: white;
}

.Link:hover:not(.Active) {
  background-color: #478bff5f;
}

.Nav__list {
  font-family: "Poppins";
  padding: 1rem;
  padding-right: 0;
}

.Active {
  background-color: #347dfd;
}
