.Image__dashboard {
  height: 200px;
  border-radius: 100px;
  transition: all 0.3s;
}

.Heading__my_profile {
  position: absolute;
  top: -500%;
  left: 15%;
  color: white;
  font-weight: bold;
  visibility: hidden;
}

.Image__dashboard:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px) brightness(70%);
}

.Image__dashboard:hover + .Heading__my_profile {
  visibility: visible;
}

.Link__dashboard_profile {
  position: relative;
}

.Section__dashboard {
  display: flex;
  font-family: var(--font-main);
}

.Container__dashboard {
  font-family: var(--font-main);
  position: relative;
  width: 1170px;
  left: 75px;
  margin: 0 auto 3rem auto;
}

.Header__dashboard {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 30px;
}

.Header__dashboard h1 {
  color: white;
  margin-top: 1rem;
}

.Header__dashboard h4 {
  color: var(--color-accent-secondary);
  margin-top: 1rem;
}

.Container__dashboard_vacation {
  width: 330px;
  padding: 1.5rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Container__dashboard_vacation h2 {
  font-weight: bold;
}

.Container__vacation_reservation_single_dashboard {
  margin-top: 0.5rem;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary-light);
  background: white;
}

.Container__vacation_reservation_single_dashboard > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Container__vacation_days_dashboard {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-secondary-light);
  margin-bottom: 1rem;
}

.Container__vacation_days_dashboard h4 {
  font-size: 1.5rem;
}

#vacation_dashboard {
  margin-right: 0.5rem;
}

.Container__dashboard_content {
  display: flex;
  gap: 1.5rem;
}

.Container__dashboard_content_right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 66.6%;
}

.Container__dashboard_content_left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 33.3%;
}

.Container__dashboard_content_left > div {
  border: 1px solid transparent;
  transition: all 0.3s;
}

.Container__dashboard_content_right > div {
  border: 1px solid transparent;
  transition: all 0.3s;
}

.Container__dashboard_content_left > div:hover {
  border-color: var(--color-secondary-light);
}

.Container__dashboard_content_right > div:hover {
  border-color: var(--color-secondary-light);
}

.react-calendar-dashboard {
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary-dark);
}

.Container__dashboard_lunch {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5rem;
}

.Container__dashboard h2 {
  font-weight: bold;
}

.Container__dashboard_lunch_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.Container__dashboard_lunch_date {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-secondary-light);
}

.Container__dashboard_lunch_content > div {
  display: flex;
  gap: 0.5rem;
}

.Heading__lunch_empty {
  color: var(--color-secondary-light);
  font-weight: normal;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-accent-secondary);
}

.Btn__apply_lunch {
  margin-top: 0;
  width: 100%;
}

.Container__dashboard_lunch_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.Container__dashboard_lunch_footer h4 {
  color: var(--color-secondary-light-opacity);
}

.Container__dashboard_events {
  width: 106.15%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}

.swiper__dashboard {
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.Heading__swiper {
  background: rgba(255, 255, 255, 0.85);
  z-index: 20;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  border-radius: 0.5rem;
  position: absolute;
}

.Btn__swiper_dashboard {
  position: absolute;
  z-index: 20;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.85);
  color: var(--color-secondary-dark);
  font-weight: bold;
  padding: 0.5rem 1rem;
  right: -30px;
  margin-top: 2.5rem;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Container__dashboard_lectures {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Container__dashboard_lectures h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary-light);
}

.Container__dashboard_lectures h2 {
  margin-bottom: 0.5rem;
}

.Container__dashboard_lecture_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Container__dashboard_lecture_single {
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary-dark);
  color: var(--color-secondary-dark);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.Container__dashboard_lecture_single:hover {
  background: var(--color-accent-secondary);
  border-color: transparent;
}

.Container__dashboard_lecture_single > div {
  margin-top: 0.75rem;
  color: var(--color-secondary-light);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Lecture__active {
  border-color: var(--color-vegan);
  background: var(--color-vegan-shadow);
}

.Container__date_dashboard {
  display: flex;
  gap: 0.75rem;
}

.Btn__lectures {
  margin-top: 2rem;
}

.Container__dashboard_posts {
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Post__recent_dashboard {
  border-radius: 0.5rem;
  width: 33%;
  height: 230px;
  background: white;
  border: 1px solid var(--color-accent);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
}

.Post__recent_dashboard:hover {
  border-color: transparent;
  background: var(--color-accent-secondary);
}

.Container__dashboard_posts_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.Container__dashboard_posts_header h3 {
  color: var(--color-secondary-light);
  font-weight: normal;
}

.Post__recent_dashboard h4 {
  color: var(--color-accent);
  font-weight: bold;
  margin-bottom: 1.25rem;
}
